/* styles.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #4CAF50;
}

#timer {
    font-size: 20px;
    color: red;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="radio"] {
    margin-right: 10px;
}

button {
    margin-top: 10px;
}
.nombre-grande {
    font-size: 18px;
    font-weight: bold;
}
.nombre-grande-g{
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
}

#resultados {
    display: none;
}

#puntos {
    display: none;
}

#mensaje-correcto {
    color: green;
    font-size: 20px; 
    display: none;
}

#mensaje-incorrecto {
    color: red;
    font-size: 20px; 
    display: none;
}

.slow-btn {
    background-color: red;
}

.slow-btn:hover {
    background-color: darkred;
}

#desh {
    display: none;
}
